name: CI test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: Build & Test - Java ${{ matrix.java }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        java: [ 8, 11, 16 ]

    steps:
      - uses: actions/checkout@v2
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Build lib
        run: ./gradlew assemble

      - name: Run tests
        run: ./gradlew test --info

      - name: Check styling using Detekt
        run: ./gradlew detekt --info
