name: Release pipeline

on:
  release:
    types: published

jobs:
  build:
    name: Build and publish library
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.3

      - name: Build lib
        run: ./gradlew assemble

      - name: Run tests
        run: ./gradlew test

      - name: Publish to GitHub Packages
        run: ./gradlew publish
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to Bintray
        run: ./gradlew bintrayUpload
        env:
          BINTRAY_USER: ${{ secrets.BintrayUser }}
          BINTRAY_TOKEN: ${{ secrets.BintrayToken }}
